<h2><%=@restaurant.name%></h2>
<h3>Cuisine: <%=@restaurant.cuisine%></h3>
<!-- need location? -->
<br>
<h4>Chefs' Comments</h4>
<%@restaurant.comments.each do |c|%>
  <%=c.content%>
  <a href="/restaurants/<%=@restaurant.id%>/edit">Edit</a>
  <br>
<%end%>

<a href="/logout">Log Out</a>
