<div class="container">
  <header><img src="images/Eats Abroad Logo-v-5A Mar 2.jpg" width="180px" height="150px" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Eats Abroad</h2>

    <div class="content">
      <p>Welcome to the Eats Abroad restaurant recommendation app!</p>

      <p>Please <a href="/login">click here</a> to log in.</p>

      <p>Don't have an account? <a href="/signup">Click here</a> to create one.</p>
    </div>


  </div>
</div>
